    /*
    Flaticon icon font: Flaticon
    Creation date: 23/03/2019 22:27
    */

    @font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff2") format("woff2"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

    .fi:before{
        display: inline-block;
  font-family: "Flaticon";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
    }

    .flaticon-yoga-posture:before { content: "\f100"; }
.flaticon-man-silhouette-running-on-treadmill-machine:before { content: "\f101"; }
.flaticon-bicycle-rider:before { content: "\f102"; }
.flaticon-chest:before { content: "\f103"; }
.flaticon-man-practicing-martial-arts:before { content: "\f104"; }
.flaticon-right-arrow:before { content: "\f105"; }
.flaticon-left-arrow:before { content: "\f106"; }
    
    $font-Flaticon-yoga-posture: "\f100";
    $font-Flaticon-man-silhouette-running-on-treadmill-machine: "\f101";
    $font-Flaticon-bicycle-rider: "\f102";
    $font-Flaticon-chest: "\f103";
    $font-Flaticon-man-practicing-martial-arts: "\f104";
    $font-Flaticon-right-arrow: "\f105";
    $font-Flaticon-left-arrow: "\f106";